{% extends 'layoutClient.html.twig' %}
{% block content %}


    <!--inscription section start-->
    <section class=" ImageBackground ImageBackground--overlay u-height700- js-Parallax" data-overlay="5">
        <div class="ImageBackground__holder">
            <img src="{{ asset('front/assets/imgs/banner/ban11.jpg') }}" alt=""/>
        </div>
        <div class="container u-vCenter- u-PaddingTop100 u-sm-PaddingTop30 u-PaddingBottom100 u-sm-PaddingBottom30">
            <div class="col-md-5">
                <div class="bg-black-transparent u-BorderRadius4 u-BoxShadow40 u-Padding10">
                    <div class="row u-PaddingTop30 u-PaddingLeft30 u-PaddingRight30">
                        <div class="col-md-12">
                            <form>
                                <h3 class="text-white u-MarginTop0">Inscrivez-vous </h3>
                                <div class="form-group">
                                    <input class="form-control form-control--white" placeholder="Nom & prenom" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control--white" placeholder="E-mail" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control--white" placeholder="Numéro Téléphone" type="text">
                                </div>

                                <div class="form-group">
                                     <input class="form-control form-control--white" placeholder="Mot de passe" type="password">
                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control--white" placeholder="Confirmez Mot de passe" type="password">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--inscription section end-->















{% endblock %}