{% extends 'layoutClient.html.twig' %}
{% block content %}


    <!--page title start-->
    <section class="ImageBackground ImageBackground--overlay v-align-parent u-height350 u-BoxShadow40" data-overlay="0"
             id="top" xmlns="http://www.w3.org/1999/html">
        <div class="ImageBackground__holder">
            <img src="{{ asset ('front/assets/imgs/banner/ban1.jpg')}}" alt=""/>
        </div>
        <div class="v-align-child">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <h1 class="text-uppercase u-Margin0 u-Weight700">Donner votre avis</h1>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->
     <div class="row" style="margin-top: 3%">

        <div class="col-md-6">
            <form action="{{ path('insert_review')}}" method="post" style="width: 50%;margin-left: 20%">
                <div class="form-group">

                    <label>Note Globale</label>
                    <input id="input-1"  onchange="getValue('1')" class="rating rating-loading" size="sm" data-min="0" data-max="5" data-step="0.5" value="2">
                    <input type="hidden" name="globalmark" id="res-1">


                </div>
                <div  class="text-center">
                    <div class="form-group">
                        <input name="title" class="form-control form-control--white" id="title" placeholder="Titre de votre avis" type="text">

                    </div>
                    <div class="form-group">
                        <input class="form-control form-control--white"
                           name="date"     placeholder="La Date de votre Sortie" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                               type="date">

                    </div>
                    <div class="form-group">
                           <textarea name="avis" id="avis" onblur="innerHTML='Partagez avec nous votre éxperience en quelques lignes'" onclick="innerHTML=''"
                              class="form-control form-control--white">Partagez avec nous votre éxperience en quelques lignes</textarea>
                    </div>
                    <div class="form-group">
                        <input name="title" class="form-control form-control--white" id="imgUrl" type="file" multiple>
                    </div>


                </div>


        </div>
        <div class="col-md-6" >

                <div class="form-group">
                    <label>Service</label>
                    <input id="input-2"  onchange="getValue('2')" class="rating rating-loading" size="sm" data-min="0" data-max="5" data-step="0.5" value="2">
                    <input type="hidden" name="servicemark" id="res-2">

                </div>
                <div class="form-group">
                    <label>Satisfaction</label>
                    <input id="input-3"  onchange="getValue('3')" class="rating rating-loading" size="sm" data-min="0" data-max="5" data-step="0.5" value="2">
                    <input type="hidden" name="satisfactionmark" id="res-3">

                </div>
                 <div class="form-group">
                     <label>Qualité/Prix</label>
                     <input id="input-4"  class="rating rating-loading" onchange="getValue('4')" size="sm" data-min="0" data-max="5" data-step="0.5" value="2">
                     <input type="hidden" name="qpmark" id="res-4">

                 </div>
            <input type="hidden" name="idCompany" value="{{ company.id }}">
            <input type="hidden" name="idClient" value="{{ app.user.id }}">
            <div class="row">
            <div class="form-group col-md-6" style="margin-top: 20%">
                <button style="width: 80%" type="submit" class="btn btn-primary btn-block "><span class="fa fa-bullhorn" style="color: white" ></span> Envoyer</button>
            </div>
            <div class="form-group col-md-6" style="margin-top: 20%">
                    <button style="width: 80%;margin-left: 5%" type="submit" class="btn btn-primary btn-block "> Annuler</button>
            </div>
            </div>
             </div>
            </form>
       </div>
    </div>


{% endblock %}